<h1>Tweets#show</h1>
<p>Find me in app/views/tweets/show.html.erb</p>
<% @tweets.each do |tweet| %>
  <hr>
  <p><span>email: </span><%= @user.email %></p>
  <p><span>ツイート内容: </span><%= @tweet.body %></p>
<% end %>